#menu1 ul {
    padding:0px;
    margin:0px;
    background-color:#f1f1f1;
    list-style-type:none;
	text-decoration: none;
	color: #000;
	
}
#menu1 ul li { 
	display: inline; 
}

li a:hover {
  background-color: #40E0D0;
  color: white;
}

li a {
  background-color: #f1f1f1;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}