#calculadora{
	background-color: #FFF0F5;
	width: 50%;
	padding: 20 px;
	border-radius: 10px;
	margin: 20px;
}	
#keyboard{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}
#keyboard button{
/**	width: 15%; */
	background-color: #FFE4E1;
	height: 100px;
	margin: 3px;
	border-radius: 5px;
	border-style: none;
	font-size: 45pt;

}	
#display{
	padding: 5px;
	font-size: 30px;
	text-align: right;
	background: #FFFAFA;
	margin: 10px;
}
body{
	font-family: sans-serif;
	
}
