.fundo{
    background-image: linear-gradient(45deg, #FFF0F5, pink);
    height: 100%;
    color: gray;
    font-family: Arial, Helvetica, sans-serify;
}
.calculadora{
    position: absolute;
    background-color: #FFF0F5;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 30px;

}
.botao{
    background-color: #FFE4E1;
	height: 50px;
	width: 50px;
	margin: 1px;
	border-radius: 10px;
	border: none;
	font-size: 25pt;
	color: gray;
}

.botao2{
    background-color: #FFE4E1;
	height: 50px;
	width: 50px;
	margin: 1px;
	border-radius: 10px;
	border: none;
	font-size: 25pt;
	color: gray;
}

.botao:hover{
    background-color: #f4d9d0;
    color: gray;
}

.botao2:hover{
    background-color: #f0fff0;
}

#resultado{
    background-color: #fff;
    width: 207px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    color: black;
    text-align: right;
    font-size: 25px;
    padding: 5px;
}


body{
	font-family: arial;
	margin: 0;
	padding: 0;
}

